body {
  font-family:sans-serif;
  background-color: #4696ff;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #071e27;
  border-radius: 10px;
}

a {
  padding: 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  background-color: #7cb0ff;
  font-size: 24px;
}

h2 {
  font-size: 40px;
}

table {
  border-collapse: collapse;
  background-color: hsl(229, 100%, 13%);
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 10px;
}

td {
  padding: 5px;
  border-radius: 10px;
}

p input {
  border-radius: 20px;
  height: 25px;
  width: 95%;
}

p {
  font-size: 24px;
}

footer {
  background-color: #22207f;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

nav a {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
}

nav {
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

header {
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header img {
    border-radius: 10px;
}

form {
    border-radius: 10px;
    border: #0b64ad 1px solid;
    padding: 15px;
    justify-content: space-between;
    display: block;
    align-items: center;
    width: 400px;
    background-color: #9bf3ff;
    color: black;
    margin: 15px auto;
    text-align: center;
}

input, label {
    margin: 5px;
}

.but {
    border: #250224 3px solid;
    border-radius: 20px;
    background-color: white;
    margin: 15px auto;
    width: 100%;
    height: 40px;
}

.but:hover {
  border: 1px solid white;
}

.main-kont {
  text-align: center;
}

.doverie {
  text-align: center;
}

.rabota {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}